{
    "extends": "airbnb-base",
    "rules": {
      "no-new-func": 0
    },
    "overrides": [
      {
        "files": ["utils/**/*.*js"],
        "rules": {
          "no-console": "off"
        }
      }
    ]
}