{
  "extends": ["airbnb-base", "plugin:jest/recommended"],
  "rules": {
    "no-new-func": 0
  },
  "overrides": [
    {
      "files": [
        "examples/**/*.*js"
      ],
      "rules": {
        "import/no-unresolved": "off"
      }
    },
    {
      "files": [
        "utils/**/*.*js",
        "bin/**/*.*js",
        "examples/**/*.*js",
        "build-browser.js"
      ],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": [
        "test-utils/**/*.*js",
        "utils/**/*.*js",
        "__tests__/**/*.*js",
        "build-browser.js"
      ],
      "rules": {
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true,
            "optionalDependencies": true,
            "peerDependencies": false
          }
        ]
      }
    }
  ]
}