.Play {
  width: calc(1184 / 1440 * 100%);
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  --col-gap: calc(128 / 1184 * 100%);

  &__container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 1rem calc(128 / 1184 * 100%);
    column-gap: var(--col-gap);
    row-gap: 16px;
    margin: 144px auto 0;
  }

  &__controls {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 16px;
  }

  &__scroll-container {
    width: 100%;
    height: 416px;
  }

  &__language-dropdown {
    width: 192px;
  }

  &__compile-button {
    display: flex;
    outline: none;
    background-color: #0D4848;
    border: 1px solid #77cbcb;
    border-radius: 128px;
    margin: 0;
    height: 36px;
    padding: 7px 23px;
    cursor: pointer;

    &-caption {
      font-family: 'Inter', sans-serif;
      text-align: left;
      font-size: 1rem;
      line-height: 1.25em;
      font-weight: 700;
      letter-spacing: 0.025em;
      color: #FAFAFF;
    }
  }
}
