@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Helvetica Neue'), local('Ubuntu'), url('./Roboto-Regular.woff') format('woff'),
    url('./Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Helvetica Neue'), local('Ubuntu'), url('./Roboto-Medium.woff') format('woff'),
    url('./Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Helvetica Neue'), local('Ubuntu'), url('./Roboto-Bold.woff') format('woff'),
    url('./Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Helvetica Neue'), local('Ubuntu'), url('./Roboto-Black.woff') format('woff'),
    url('./Roboto-Black.ttf') format('truetype');
}
